In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, TimeSeriesSplit
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin
from sklearn.utils.validation import check_is_fitted, check_array
%matplotlib inline

In [4]:
data = pd.read_csv(   'https://raw.githubusercontent.com/Garve/datasets/4576d323bf2b66c906d5130d686245ad205505cf/mmm.csv',
    parse_dates=['Date'],
    index_col='Date'
)
X = data.drop(columns=['Sales'])
y = data['Sales']

Creating a Saturation Effect

a = hyperparameter controling shape of saturation curve (a>0)

X = spend

saturation effect = 1-exp(a*X)

In [50]:
class SaturationEffect(BaseEstimator,TransformerMixin):
    def __init__(self,a=1.):
        if a > 0:
            self.a = a
        else:
            self.a = 1
    def fit(self,X,y=None):
        X = check_array(X)
        self._check_n_features(X,reset=True)
        return self
    def transform(self,X):
        check_is_fitted(self)
        X = check_array(X)
        self._check_n_features(X,reset=False)

        return 1 - np.exp(-self.a*X)

In [57]:
spend_df = data.copy()
spend_df.drop(columns=list(data.columns)[0:4],inplace=True)
spend_df["Spend_total"] = data["TV"]+data["Radio"]+data["Banners"]
spend_df

            Spend_total
Date
2018-01-07     13528.10
2018-01-14      7568.58
2018-01-21      6282.82
2018-01-28      3562.21
2018-02-04      2187.29
...                 ...
2021-10-03      1691.68
2021-10-10     18677.81
2021-10-17      6475.35
2021-10-24      1707.65
2021-10-31      1863.31

[200 rows x 1 columns]

In [58]:
SE = SaturationEffect()
spend_df["Saturated_spends"] = SE.fit_transform(spend_df[["Spend_total"]])
spend_df

            Spend_total  Saturated_spends
Date
2018-01-07     13528.10               1.0
2018-01-14      7568.58               1.0
2018-01-21      6282.82               1.0
2018-01-28      3562.21               1.0
2018-02-04      2187.29               1.0
...                 ...               ...
2021-10-03      1691.68               1.0
2021-10-10     18677.81               1.0
2021-10-17      6475.35               1.0
2021-10-24      1707.65               1.0
2021-10-31      1863.31               1.0

[200 rows x 2 columns]

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]])

In [63]:
np.exp(-1.*13528.10)

0.0

In [ ]:
np.exp()