In [1]:
import pandas as pd

In [2]:
dataset_link =  "https://raw.githubusercontent.com/Garve/datasets/fdb81840fb96faeda5a874efa1b9bbfb83ce1929/bhmmm.csv"
data = pd.read_csv(dataset_link)

In [3]:
data

,Country,Date,TV,Radio,Banners,Sales
0,Germany,2018-01-07,13528.104692,0.000000,0.000000,5279.797721
1,Germany,2018-01-14,0.000000,5349.654457,2218.927675,8745.187503
2,Germany,2018-01-21,0.000000,4235.856076,2046.964305,7522.658746
3,Germany,2018-01-28,0.000000,3562.208526,0.000000,4346.954005
4,Germany,2018-02-04,0.000000,0.000000,2187.289145,5297.070969
...,...,...,...,...,...,...
315,Switzerland,2018-04-22,0.000000,6199.736176,1995.974179,8260.525106
316,Switzerland,2018-04-29,0.000000,5456.153036,2155.004653,8067.092448
317,Switzerland,2018-05-06,0.000000,4642.420968,0.000000,4039.670872
318,Switzerland,2018-05-13,10076.254768,5041.082226,1838.256494,9721.207803
319,Switzerland,2018-05-20,0.000000,5593.465920,0.000000,6122.552884

In [4]:
X = data.drop(columns=["Sales","Date"])
y = data["Sales"]

## Break

In [5]:
data = pd.read_csv(   'https://raw.githubusercontent.com/Garve/datasets/4576d323bf2b66c906d5130d686245ad205505cf/mmm.csv',
    parse_dates=['Date'],
    index_col='Date'
)
X = data.drop(columns=['Sales'])
y = data['Sales']

## Attempt w/ Linear Regression

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, TimeSeriesSplit
import pandas as pd
data = pd.read_csv(
    'https://raw.githubusercontent.com/Garve/datasets/4576d323bf2b66c906d5130d686245ad205505cf/mmm.csv',
    parse_dates=['Date'],
    index_col='Date'
)
X = data.drop(columns=['Sales'])
y = data['Sales']
lr = LinearRegression()
print(cross_val_score(lr, X, y, cv=TimeSeriesSplit()))

[0.69594303 0.69302285 0.66850729 0.78807363 0.73512387]

In [7]:
lr.fit(X,y)

LinearRegression()

In [115]:
lr_coef_table = pd.DataFrame(lr.coef_.flatten())

In [116]:
lr_coef_table = lr_coef_table
lr_coef_table

          0
0  0.359684
1  0.488332
2  1.215919

In [118]:
lr_coef_table.index = list(X.columns)

In [120]:
#Return coeficients for each type of marketing spend
lr_coef_table.rename(columns={0:"Coef"})

             Coef
TV       0.359684
Radio    0.488332
Banners  1.215919

In [16]:
#Test our lr on a single week of spend data
data.loc["2021-10-10"]

TV         11543.58
Radio       4615.35
Banners     2518.88
Sales      15904.11
Name: 2021-10-10 00:00:00, dtype: float64

In [24]:
test_week_spend = data.loc["2021-10-10"][0:3].values

In [25]:
test_week_spend

array([11543.58,  4615.35,  2518.88])

In [38]:
spend_test_prediction = lr.predict(([test_week_spend]))[0]

In [39]:
#Now use our lr to attempt a prediction using this selected week's spend figure and our lr's coeficients
print(f'lr sales prediction {spend_test_prediction}')
print(f'Actual sales {data.loc["2021-10-10"][3]}')
print(f'Delta {spend_test_prediction-data.loc["2021-10-10"][3]}')

lr sales prediction 16147.015941583588
Actual sales 15904.11
Delta 242.90594158358726

In [41]:
#Next find a correlation factor using truth and predictions
correl_factor = data.loc["2021-10-10"][3]/spend_test_prediction
correl_factor

0.9849566048325976

In [130]:
sample_week = pd.DataFrame(data.loc["2021-10-10"])
sample_week["Actual"] = sample_week["2021-10-10"]
sample_week.drop(sample_week.columns[0], axis=1,inplace=True)
sample_week["Coef"] = 0
sample_week["Coef"] = lr_coef_table
sample_week

           Actual      Coef
TV       11543.58  0.359684
Radio     4615.35  0.488332
Banners   2518.88  1.215919
Sales    15904.11       NaN

In [142]:
sample_week[3]

KeyError: 3

In [136]:
sample_week["Predicted"]= sample_week["Actual"]*correl_factor*sample_week["Coef"]
sample_week["Predicted"][3] = sum(sample_week["Predicted"][0:3])
sample_week.index

Index(['TV', 'Radio', 'Banners', 'Sales'], dtype='object')