In [2]:
import pandas as pd

In [3]:
dataset_link =  "https://raw.githubusercontent.com/Garve/datasets/fdb81840fb96faeda5a874efa1b9bbfb83ce1929/bhmmm.csv"
data = pd.read_csv(dataset_link)

In [4]:
data

,Country,Date,TV,Radio,Banners,Sales
0,Germany,2018-01-07,13528.104692,0.000000,0.000000,5279.797721
1,Germany,2018-01-14,0.000000,5349.654457,2218.927675,8745.187503
2,Germany,2018-01-21,0.000000,4235.856076,2046.964305,7522.658746
3,Germany,2018-01-28,0.000000,3562.208526,0.000000,4346.954005
4,Germany,2018-02-04,0.000000,0.000000,2187.289145,5297.070969
...,...,...,...,...,...,...
315,Switzerland,2018-04-22,0.000000,6199.736176,1995.974179,8260.525106
316,Switzerland,2018-04-29,0.000000,5456.153036,2155.004653,8067.092448
317,Switzerland,2018-05-06,0.000000,4642.420968,0.000000,4039.670872
318,Switzerland,2018-05-13,10076.254768,5041.082226,1838.256494,9721.207803
319,Switzerland,2018-05-20,0.000000,5593.465920,0.000000,6122.552884

In [6]:
X = data.drop(columns=["Sales","Date"])
y = data["Sales"]

## Break

In [7]:
data = pd.read_csv(   'https://raw.githubusercontent.com/Garve/datasets/4576d323bf2b66c906d5130d686245ad205505cf/mmm.csv',
    parse_dates=['Date'],
    index_col='Date'
)
X = data.drop(columns=['Sales'])
y = data['Sales']

## Attempt w/ Linear Regression

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, TimeSeriesSplit
import pandas as pd
data = pd.read_csv(
    'https://raw.githubusercontent.com/Garve/datasets/4576d323bf2b66c906d5130d686245ad205505cf/mmm.csv',
    parse_dates=['Date'],
    index_col='Date'
)
X = data.drop(columns=['Sales'])
y = data['Sales']
lr = LinearRegression()
print(cross_val_score(lr, X, y, cv=TimeSeriesSplit()))

[0.69594303 0.69302285 0.66850729 0.78807363 0.73512387]

In [10]:
lr.fit(X,y)

LinearRegression()

In [26]:
lr.coef_.flatten()

array([0.35968382, 0.48833246, 1.2159193 ])

In [22]:
lr.coef_

[0.3596838209896532, 0.4883324635915398, 1.2159193013722256]

In [28]:
lr_coef_table = pd.DataFrame(lr.coef_.flatten())

In [34]:
lr_coef_table = lr_coef_table.transpose()
lr_coef_table

          0         1         2
0  0.359684  0.488332  1.215919

In [41]:
lr_coef_table.columns = list(X.columns)

In [42]:
lr_coef_table

         TV     Radio   Banners
0  0.359684  0.488332  1.215919